<div class="wedding-detail">
<h3>Add Guests</h3>

<%= form_for @guest do |f| %>
    <%= f.text_field :name, class: "form-control" %>
    <%= f.hidden_field :wedding, value: params['wedding'] %>
    <%= f.submit "Add" %>
    <% end %>

</div>
