<div class="wedding-detail">
<h3>Please enter your name</h3>

<%= form_tag(gifts_path, method: :get) do %>
        <%= text_field_tag :search %>
        <%= submit_tag "Search"%>
    <% end %>

</div>
