<div class="wedding-detail">
<h2>Enter your wedding name (ie. Smith-Jones)</h2>
<%= form_tag(weddings_path, method: :get) do %>
    <%= text_field_tag :search %>
    <%= submit_tag "Search"%>
<% end %>
<br>
<h3>Not registered? <%= link_to 'Click here', new_wedding_path %></h3>

</div>
   


